<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}" />
    {% block head %}

    {% endblock %}
</head>

<body>

    <header>
        <h1 class="logo-h"><a href="{{ url_for('day') }}" class="link-h">DAY A DAY</a></h1>
        {% if "add" not in request.endpoint %}
            <a href="{{ url_for('add_day') }}" class="link-h">Add</a>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>