<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://kit.fontawesome.com/0db4c44db2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}" />
    {% block head %}

    {% endblock %}
</head>

<body>

    <header>
        <h1 class="logo-h"><a href="{{ url_for('habits.day') }}" class="link-h">DAY A DAY</a></h1>
        {% if "add" not in request.endpoint %}
            <a href="{{ url_for('habits.add_day') }}" class="link-h">+</a>
        {% endif %}
    </header>

    <main>
        <section class="dates">
            {% for date in date_range(selected_date) %}
            <a class="date-link {{ 'date-link--current' if loop.index0 == 3 else ''}}" href="{{ url_for('habits.day', date=date)}}"">
                <time class="date" datetime="{{ date }}">
                    <span>{{date.strftime("%a")}}</span>
                    <span>{{date.strftime("%d")}}</span>
                </time>
            </a>
            {% endfor %}
        </section>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>